#hero-section {
  padding-top: 60px;
  scroll-margin-top: 10rem;
}

footer {
  margin-top: 60px;
}

.features-section {
  margin-top: 100px;
}

#features-image{
  width: 400px;
  height: 260px;
  margin-bottom: 30px;
}


.featurette-divider {
  margin: 4rem 0; 
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

#features-section{
  scroll-margin-top: 7rem;
}